{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{image_file}}">
        <div class="media-body">
            <h2 class="account-heading">{{current_user.username}}</h2>
            <p class="text-secondary">{{current_user.email}}</p>
        </div>
    </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            <fieldset class="field">
                <legend class="Legend">Account Info</legend>
    
                <div class="form-group">
                    {{form.username.label(class='form-control-label')}}
                    {{form.username(class='form-control')}}
                    {% if form.username.errors %}
                    <div class="error-messages">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
    
                <div class="form-group">
                    {{form.email.label(class='form-control-label')}}
                    {{form.email(class='form-control')}}
                    {% if form.email.errors %}
                    <div class="error-messages">
                        {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{form.picture.label()}}
                    {{form.picture(class='form-control-file')}}
                    {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                </div>
                <div class="form-group">
                    {{form.submit(class='post-btn')}}
                </div>
            </fieldset>
        </form>
</div>
{% endblock content %}