{% extends "layout.html" %}
{% block content %}
<div class="content-area">

    <form method="POST" action="">
        {{form.hidden_tag()}}

        <fieldset class="field">
            <legend class="Legend">Lets Connect</legend>

            <div class="form-group">
                {{form.username.label(class='form-control-label')}}
                {{form.username(class='form-control')}}
                {% if form.username.errors %}
                    <div class="error-messages">
                        {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{form.email.label(class='form-control-label')}}
                {{form.email(class='form-control')}}
                {% if form.email.errors %}
                <div class="error-messages">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}    
            </div>

            <div class="form-group">
                {{form.password.label(class='form-control-label')}}
                {{form.password(class='form-control')}}
                {% if form.password.errors %}
                <div class="error-messages">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{form.confirm_password.label(class='form-control-label')}}
                {{form.confirm_password(class='form-control')}}
                {% if form.confirm_password.errors %}
                <div class="error-messages">
                    {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{form.submit(class='btn')}}
            </div>

        </fieldset> 

    </form>
    <div class="additional">
        <small>
            Already have an account? <a href="{{ url_for('users.login') }}">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}